@font-face {
  font-family: 'Hanken Grotesk';
  src: url('assets/fonts/HankenGrotesk-VariableFont_wght.woff2') format('woff2') tech('variations'),
  url('assets/fonts/HankenGrotesk-VariableFont_wght.woff2') format('woff-variations');
  font-weight: 100 900;
  font-display: swap;
}

/* Colors */

:root {
  /* Primary */

  --clr-primary-red: hsl(0, 100%, 67%);
  --clr-primary-yellow: hsl(39, 100%, 56%);
  --clr-primary-teal: hsl(166, 100%, 37%);
  --clr-primary-blue: hsl(234, 85%, 45%);

  /* Gradients */

  --bg-clr-slate: hsl(252, 100%, 67%);
  --bg-clr-royal: hsl(241, 81%, 54%);

  /* circle */

  --clr-circle-violet: hsla(256, 72%, 46%, 1);
  --clr-circle-persian: hsla(241, 72%, 46%, 0);

  /* Neutral */
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200:hsl(221, 100%, 96%);
  --clr-neutral-300:hsl(241, 100%, 89%);
  --clr-neutral-400:hsl(224, 30%, 27%);
  --clr-neutral-500:hsla(224, 30%, 27%, 0.5);

  /* Font */
  --ff-base:'Hanken Grotesk', 'sans-serif';

/* Font weights */

  --fw-regular: 500;
  --fw-semi-bold:700;
  --fw-bold: 800;

  /* Font Sizes */
  /* - Font size (paragraphs): 18px */

  --fs-200: 0.875rem;
  --fs-300:1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-700:3.25rem;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

img,
svg,
picture,
video{
  max-width:100%;
  display: block;
}

html{
  color-scheme: light;
}


body {
  /* font-family: var(--ff-base); */
  font-family: 'Hanken Grotesk';
  font-size: var(--fs-400);
  line-height: 1.5;
  background-color: var(--clr-neutral-200);
 
}

main{
  display: grid;
  place-items: center;
}

.card{
  max-width: 350px;
  background-color: var(--clr-neutral-100);
}

.result{
  background-color: var(--bg-clr-royal);
  background-image: linear-gradient(var(--bg-clr-slate),var(--bg-clr-royal));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 40px 40px;
}
.result-sub-heading{
  color: var(--clr-neutral-300);
  font-size: var(--fs-400);
}

.score{
  font-size: 3.25rem;
  font-weight:bold;
  
}

.score-info{
  width: 140px;
  height: 140px;
  color:var(--clr-neutral-100);
  border-radius: 50%;
  background-image: linear-gradient(var(--clr-circle-violet),var(--clr-circle-persian));
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.denominator{
  color: hsla(241, 100%, 89%, 0.5);
}


.result-heading{
  color:var(--clr-neutral-100);
  margin-bottom: 0;
  font-size: var(--fs-600);
}
.result-text{
  color: var(--clr-neutral-300);
  text-align: center;
  padding: 0 2rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: var(--fs-300);
}

.summary{
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--clr-neutral-100);
  gap: 1rem;
  padding: 0 1rem;
}

.summary-sub-heading{
  color:var(--clr-neutral-400);
  font-size: var(--fs-500);
  margin-bottom: 0;
}
.summary-card{
  display: grid;
  grid-template-columns: 50px 1fr 1fr;
  border-radius: 15px;
}

.summary-card h3{
  font-weight: var(--fw-regular);
  font-size:var(--fs-400);
  align-self: center;
  margin: 12px 0;
}

.sum-card-red{
  background-color: hsla(0, 100%, 67%, 0.05);
  color:var(--clr-primary-red);
}

.sum-card-yellow{
  background-color: hsla(39, 100%, 56%, 0.05);
  color:var(--clr-primary-yellow);
}

.sum-card-green{
  background-color: hsla(166, 100%, 37%, 0.05);
  color:var(--clr-primary-teal);
}

.sum-card-blue{
  background-color: hsla(234, 85%, 45%, 0.05);
  color:var(--clr-primary-blue);
}

.icon{
  align-self:center;
  justify-self:center;
}

.ratio{
  color: var(--clr-neutral-500);
  font-weight: var(--fw-semi-bold);
  align-self:center;
  justify-self:center;
  margin: 12px 0;
}

.ratio span{
  color:var(--clr-neutral-400);
}

.btn{
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-400);
  padding: 1rem 0;
  font-size: var(--fs-400);
  letter-spacing: 1px;
  border: none;
  transition: all 1s ease 1s;
  border-radius: 30px;
  margin-bottom: 2rem;
  margin-top: 0.75rem;
}

.btn:hover{
  cursor: pointer;
  background-image: linear-gradient(var(--bg-clr-slate),var(--bg-clr-royal));
  
}


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


@media (min-width:750px) {

  main{
    padding-top: 5rem;
  }
  .card{
    max-width: 736px;
    
    display:grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 40px;
  }

  .result{
    border-radius: 40px;
    padding-top: 1rem;
  }

  .result-sub-heading{
    font-size: var(--fs-500);
    margin-bottom: 2rem;
  }

  .result-text{
    padding: 0 4rem;
    margin-bottom: 4rem;
    font-size: var(--fs-400);
  }

  .score-info{
    width: 200px;
    height: 200px;
    
  }

  .score{
    font-size: 4rem;
  }
  .summary{
    border-radius: 40px;
    padding: 0 2.5rem;
  }

  .summary-sub-heading{
    align-self: center;
  }

  .btn{
    padding: 0.5rem 0;
  }
}
